/* TaskList.css */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .th {
    background-color: #f2f2f2;
  }
  
  .task-column {
    width: 70%;  /* Ajusta el ancho de la columna de la tarea según tus preferencias */
  }
  
  .action-column {
    width: 30%;  /* Ajusta el ancho de la columna de acción según tus preferencias */
    text-align: center;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  